# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/server/build/
/server/dist/
/transaction-log/build/
/transaction-log/dist/
/asio-server/build/
/asio-server/dist/
/echo-server/build/
/echo-server/dist/
/test-client/build/
/test-client/dist/